@import "tailwindcss";

:root{
    --text: #243042;
    --text-80: #eef1f6;
    --text-body: #476085;
    --text-white: white;
    --text-brand: #004e98;
    --btn-100-transparent: #ffffff1a;
    --text-reverse: white;
    --outline: #4760851a;
    --bg-neutral-20: #243042;
    --bg-neutral-80: #eef1f6;
    --bg-neutral-100: white;
    --btn-neutral-100: white;
    --text-disabled: #c8cfda;
    --btn-brand: #004e98;
    --btn-brand-transparent: #004e981a;
    --btn-neutral-80: #eef1f6;
    --btn-80-transparent: #4760851a;
    --bg-transparent-10: #4760851a;
    --gradient-dark: #003567;
    --bg-prime-transparent: #00b29b1a;
    --bg-sec-transparent: #ed6c4d1a;
    --bg-transparent-5: #4760850d;
    --outline-active: #004e98;
    --rounded-32: 32px;
    --rounded-16: 16px;
    --rounded-8: 8px;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
    min-height: 100vh;
    background-color: var(--bg-neutral-80);
}
.cta-wrapper{
    position: relative;
    width: 100%;
    border-radius: var(--rounded-32);
    overflow: hidden;
    margin: 2rem 0;
}

.cta-content{
    background: rgba(0, 78, 152, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
        align-items: center;
    padding: 3rem;
    color: var(--text-white);
    position: relative;
    z-index: 10;
}
@media screen and (max-width: 640px) {
    .cta-content{
       flex-direction: column;
       gap: 1rem;
    }
    .btn{
        width: 100%;
    }
   
}
.cta-img{
    width: 120%;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 1.5rem;
    border-radius: var(--rounded-8);

    font-family: "Lexend", Arial, sans-serif;
    font-size: 0.75rem;
    color: var(text-body);
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-white{
    background: var(--btn-neutral-100);
    color: var(--text);
}
.btn-white:hover{
    background: var(--btn-100-transparent);
    color: var(--text-white);
}
.btn-nav{
  color: var(--text-white);
}
.btn-nav:hover{
    background: var(--btn-100-transparent);
  
}
.bg-dark{
    background: var(--bg-neutral-20);
}
.bg-80{
    background: var(--bg-neutral-80);
}
.gradient-blog {
  background: linear-gradient(180deg, rgba(0, 78, 152, 0) 0%, rgba(0, 78, 152, 0.8) 60%);
}
.rounded-32{
    border-radius: var(--rounded-32);
}
.rounded-16{
    border-radius: var(--rounded-16);
}
.rounded-8{
    border-radius: var(--rounded-8);
}
.text-body{
    color: var(--text-body);
}
.text-dark{
    color: var(--text);
}
.text-brand{
    color: var(--text-brand);
}
p{
  font-family: 'Lexend';
    font-size: 1rem;

        font-weight: 300;
    line-height: 20px;

    line-height: 150%;
}

h4{
    font-family: "Lexend", Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 120%;
}
.style-h2{
  font-family: "Lexend", Arial, sans-serif;
    font-size: 2.188rem;
    font-weight: 500;
    line-height: 120%;
}

.style-h4{
   font-family: "Lexend", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
}
.style-h5{
  font-family: "Lexend", Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
}
.markdown{
    color: var(--text-body);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.markdown h1 {
  font-family: "Lexend", Arial, sans-serif;
    font-size: 2.188rem;
    font-weight: 300;
    line-height: 120%;

 color: var(--text);
}

.markdown h2 {
    font-family: "Lexend", Arial, sans-serif;
    font-size: 2.188rem;
    font-weight: 500;
    line-height: 120%;
    margin: 4rem 0 .5rem 0;

 color: var(--text);
}

.markdown h3 {
   font-family: "Lexend", Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 120%;
    margin-top: 1.5rem;

 color: var(--text-body);
}

.markdown h4 {
   font-family: "Lexend", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;

 color: var(--text);
}

.markdown h5 {
    font-family: "Lexend", Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;

 color: var(--text-body);
}
.markdown p{
 color: var(--text-body);
}
.markdown a {
  color: var(--text-brand);
}
.markdown h1 a,.markdown h2 a{
 color:var(--text)
}
.markdown h5 a,.markdown h3 a,.markdown h4 a {
  color: var(--text-body);
}

.markdown img {
  max-width: 100%;
  display: block;
  margin: 1rem auto;
  border-radius: var(--rounded-16);
}

.markdown ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0.75rem 0 0.75rem 1.5rem;
  padding: 0;
}

.markdown ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin: 0.75rem 0 0.75rem 1.5rem;
  padding: 0;
}

.markdown li {
  margin-bottom: 0.75rem;
}


.markdown code {
  background: var(--text-brand);
  padding: 0.2em 0.2em;
  border-radius: 4px;
  font-size: 0.95em;
}


.markdown strong {
  font-weight: 700;
}

.markdown table {
  width: 100%;
  background-color: var(--bg-transparent-10);
  border-radius: var(--rounded-16);
  margin: 1rem 0;
}
@media screen and (max-width: 991px) {
    tableoverflow{
        overflow: auto;
    }
    .markdown table {
        min-width: 1200px;
    }
}

.markdown th,
.markdown td {
  padding: 1.5rem 1.5rem;
      text-align: justify;
}

.markdown blockquote {
  border-left: 4px solid var(--color-white);
  padding: 0.5rem 1rem;
  background: var(--bg-transparent-5);
  padding: 2rem;
}
aside {
  border: 1px solid var(--outline);
  background: var(--bg-transparent-5);
  padding: 2rem;
  border-radius: var(--rounded-16);
}